title= Organo 
link(rel="stylesheet", href="/adminlte/bootstrap/css/bootstrap.min.css")
link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
link(rel="stylesheet", href="/font-awesome/css/all.min.css")
link(rel="stylesheet", href="/adminlte/dist/css/AdminLTE.css")
link(rel="stylesheet", href="/adminlte/dist/css/skins/skin-purple.min.css")
link(rel="stylesheet", href="/adminlte/plugins/iCheck/square/blue.css")