header.main-header
    a(href='/').logo
        span.logo-mini
            <b>M</b> 
        span.logo-lg
            <b>Zallibo Pinjaman Online</b>
    nav(role='navigation').navbar.navbar-static-top
        a(href='#', role='button', data-toggle='offcanvas').sidebar-toggle.fa6.sidebar-mini
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div.navbar-custom-menu
            ul.nav.navbar-nav
                    li.dropdown.user.user-menu
                        a(href='#',data-toggle='dropdown').dropdown-toggle
                            img(src='/adminlte/dist/img/user8-128x128.jpg',alt='UserImage').user-image
                            span.hidden-xs
                                | Zallibo Pinjol
                        ul.dropdown-menu
                            li.user-header
                                img(src='/adminlte/dist/img/user8-128x128.jpg',alt='UserImage').img-circle
                                p
                                    | Zallibo Pinjol - Android Developer
                            li.user-footer
                                .pull-left
                                    a(href='#').btn.btn-default.btn-flat
                                        | Profile
                                .pull-right
                                    a(href='/logout').btn.btn-default.btn-flat
                                        | Sign out